# Python
__pycache__/
*.pyc
.venv/
venv/

# Environment
.env
.env.*

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Logs
*.log

# Node
node_modules/

# Build
dist/
build/

# Database
*.db

# Secrets
secrets/